@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-en-serif {
  font-family: 'Playfair Display', serif;
}

.font-serif-en {
  font-family: 'Playfair Display', serif;
}

@keyframes custom-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-custom-marquee {
  animation: custom-marquee 10s linear infinite;
}

.font-pretendard {
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
}

body {
  font-family: 'Inter', 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  color: #121212;
  line-height: 1.6;
  letter-spacing: -0.08em;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}